
.leftSide {
  /* border-right: 2px solid black; */
  
  /* background: whitesmoke; */
  font-size: .8em;
  /* border-right: 3px solid grey; */
}

.center {
  margin-left: 2em;
  margin-right: 1em;
}

.rightSide {
  /* background: whitesmoke; */
}

.leftSide a {
  color: lightgrey;
  font-size: 1em;
}

.stickyLeft {
  transition: all .25s ease-in-out;
}

@media (min-width: 800px){

  .stickyLeft {
    /* overflow-y:scroll; */
    min-height: 100vh;
    max-height: 100vh;
    padding-top: 1em;
    position: fixed;
    max-width: 260px;
    
  }

  /* .stickyLeft:hover {
    overflow-y: scroll;
    background: darkblue;
  } */

  .stickyLeft li, .stickyLeft a, .stickyLeft span, .stickyLeft ins {
    font-size: 1em !important;
    line-height: normal;
    color: lightgrey;
    transition: all .125s ease-in-out;
    text-decoration: none;
    list-style: circle;
    line-height: 1.25em;
  }

  .leftSide:hover a, .leftSide:hover ins, .leftSide:hover li, .leftSide:hover span {
    color:black !important;
    
  }

  .leftSide {
    padding-right:0 !important;
  }

  .leftSide p {
    margin: 0;
  }

  .leftSide ul {
    list-style: none;
    font-size: 1.05em;
    padding-left: .25em;
    margin-left: 1em;
  }

}