
.nav {
  margin-bottom: 2em;
  border: 1px solid lightgrey;
}

.nav a:hover {
  color: blue !important;
}

.nav a {
  margin-right: .5em;
  word-spacing: -3px;
}

.nav small {
  margin-left: auto;
  text-decoration: underline;
}