
.nav {
  margin-bottom: 2em;
  /* border: 1px solid lightgrey; */
  background: darkblue !important;
}

.nav a:hover {
  color: blue !important;
}

.nav a {
  color: white;
  margin-right: .5em;
  word-spacing: -3px;
}

.nav input {
  color: white;
}

.nav span {
  margin-left: auto;
  /* text-decoration: underline; */
  color: white;
}