
.nav:hover {
  background: darkblue;
  
}

.nav:hover a {
  color: white;
  
}

.nav {
  /* padding-left: 0 !important; */
}

.nav a {
  font-size: 1em;
}

.nav a:hover {
  color: white !important;
  text-decoration: underline;
}